In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import imblearn
import warnings
warnings.filterwarnings('ignore')
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [2]:
train_df = pd.read_csv("../Dataset/Train.csv",na_values=' ?')
test_df = pd.read_csv("../Dataset/Test.csv",na_values=' ?')

In [3]:
train_df =train_df.drop("ID",axis=1)
test_df = test_df.drop("ID",axis=1)

In [4]:
train_df

,age,gender,education,class,education_institute,marital_status,race,is_hispanic,employment_commitment,unemployment_reason,...,country_of_birth_mother,migration_code_change_in_msa,migration_prev_sunbelt,migration_code_move_within_reg,migration_code_change_in_reg,residence_1_year_ago,old_residence_reg,old_residence_state,importance_of_record,income_above_limit
0,79,Female,High school graduate,NaN,NaN,Widowed,White,All other,Not in labor force,NaN,...,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1779.74,Below limit
1,65,Female,High school graduate,NaN,NaN,Widowed,White,All other,Children or Armed Forces,NaN,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,2366.75,Below limit
2,21,Male,12th grade no diploma,Federal government,NaN,Never married,Black,All other,Children or Armed Forces,NaN,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1693.42,Below limit
3,2,Female,Children,NaN,NaN,Never married,Asian or Pacific Islander,All other,Children or Armed Forces,NaN,...,India,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1380.27,Below limit
4,70,Male,High school graduate,NaN,NaN,Married-civilian spouse present,White,All other,Not in labor force,NaN,...,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1580.79,Below limit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209494,16,Female,7th and 8th grade,NaN,High school,Never married,White,All other,Not in labor force,NaN,...,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2170.60,Below limit
209495,78,Male,Bachelors degree(BA AB BS),NaN,NaN,Married-civilian spouse present,White,All other,Not in labor force,NaN,...,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1029.57,Below limit
209496,8,Female,Children,NaN,NaN,Never married,White,All other,Children or Armed Forces,NaN,...,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,791.61,Below limit
209497,26,Female,Some college but no degree,Private,NaN,Married-civilian spouse present,White,All other,Children or Armed Forces,NaN,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,3530.26,Below limit
209498,19,Male,11th grade,Local government,High school,Never married,Black,All other,Children or Armed Forces,Re-entrant,...,US,MSA to MSA,Same,Same county,Same county,No,South,Florida,1987.72,Below limit

In [5]:
print(train_df.shape)
print(test_df.shape)

(209499, 42)
(89786, 41)

In [6]:
train_df['migration_prev_sunbelt'].unique()

array([nan, ' No', 'Same'], dtype=object)

In [7]:
train_df.describe()

,age,employment_stat,wage_per_hour,working_week_per_year,industry_code,occupation_code,total_employed,vet_benefit,gains,losses,stocks_status,mig_year,importance_of_record
count,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000,209499.000000
mean,34.518728,0.176760,55.433487,23.158850,15.332398,11.321734,1.956067,1.515854,435.926887,36.881737,194.533420,94.499745,1740.888324
std,22.306738,0.555562,276.757327,24.397963,18.049655,14.460839,2.365154,0.850853,4696.359500,270.383302,1956.375501,0.500001,995.559557
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,94.000000,37.870000
25%,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,94.000000,1061.290000
50%,33.000000,0.000000,0.000000,8.000000,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,94.000000,1617.040000
75%,50.000000,0.000000,0.000000,52.000000,33.000000,26.000000,4.000000,2.000000,0.000000,0.000000,0.000000,95.000000,2185.480000
max,90.000000,2.000000,9999.000000,52.000000,51.000000,46.000000,6.000000,2.000000,99999.000000,4608.000000,99999.000000,95.000000,18656.300000

In [8]:
train_df.nunique()

age                                   91
gender                                 2
education                             17
class                                  8
education_institute                    2
marital_status                         7
race                                   5
is_hispanic                           10
employment_commitment                  8
unemployment_reason                    5
employment_stat                        3
wage_per_hour                       1232
is_labor_union                         2
working_week_per_year                 53
industry_code                         52
industry_code_main                    24
occupation_code                       47
occupation_code_main                  14
total_employed                         7
household_stat                        38
household_summary                      8
under_18_family                        4
veterans_admin_questionnaire           2
vet_benefit                            3
tax_status                             6
gains                                132
losses                               114
stocks_status                       1499
citizenship                            5
mig_year                               2
country_of_birth_own                  42
country_of_birth_father               42
country_of_birth_mother               42
migration_code_change_in_msa           8
migration_prev_sunbelt                 2
migration_code_move_within_reg         8
migration_code_change_in_reg           7
residence_1_year_ago                   2
old_residence_reg                      5
old_residence_state                   49
importance_of_record              102743
income_above_limit                     2
dtype: int64

In [9]:
train_df.dtypes

age                                 int64
gender                             object
education                          object
class                              object
education_institute                object
marital_status                     object
race                               object
is_hispanic                        object
employment_commitment              object
unemployment_reason                object
employment_stat                     int64
wage_per_hour                       int64
is_labor_union                     object
working_week_per_year               int64
industry_code                       int64
industry_code_main                 object
occupation_code                     int64
occupation_code_main               object
total_employed                      int64
household_stat                     object
household_summary                  object
under_18_family                    object
veterans_admin_questionnaire       object
vet_benefit                         int64
tax_status                         object
gains                               int64
losses                              int64
stocks_status                       int64
citizenship                        object
mig_year                            int64
country_of_birth_own               object
country_of_birth_father            object
country_of_birth_mother            object
migration_code_change_in_msa       object
migration_prev_sunbelt             object
migration_code_move_within_reg     object
migration_code_change_in_reg       object
residence_1_year_ago               object
old_residence_reg                  object
old_residence_state                object
importance_of_record              float64
income_above_limit                 object
dtype: object

In [10]:
train_df.isna().sum()

age                                    0
gender                                 0
education                              0
class                             105245
education_institute               196197
marital_status                         0
race                                   0
is_hispanic                            0
employment_commitment                  0
unemployment_reason               202979
employment_stat                        0
wage_per_hour                          0
is_labor_union                    189420
working_week_per_year                  0
industry_code                          0
industry_code_main                     0
occupation_code                        0
occupation_code_main              105694
total_employed                         0
household_stat                         0
household_summary                      0
under_18_family                   151654
veterans_admin_questionnaire      207415
vet_benefit                            0
tax_status                             0
gains                                  0
losses                                 0
stocks_status                          0
citizenship                            0
mig_year                               0
country_of_birth_own                3667
country_of_birth_father             7181
country_of_birth_mother             6516
migration_code_change_in_msa      106284
migration_prev_sunbelt            193148
migration_code_move_within_reg    106284
migration_code_change_in_reg      106284
residence_1_year_ago              106284
old_residence_reg                 193148
old_residence_state               193889
importance_of_record                   0
income_above_limit                     0
dtype: int64

In [11]:
def missing_values_table(df):
    # Total missing values
    mis_val = df.isnull().sum()

    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)

    dtype = df.dtypes

    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent, dtype], axis=1)

    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
        columns={0: 'Missing Values', 1: '% of Total Values', 2: 'dtype'})

    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:, 1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
    # Print some summary information
    print("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"
                                                              "There are " + str(mis_val_table_ren_columns.shape[0]) +
          " columns that have missing values.")

    # Return the dataframe with missing information
    return mis_val_table_ren_columns


missing_values_table_df = missing_values_table(train_df)
missing_values_table_df

Your selected dataframe has 42 columns.
There are 17 columns that have missing values.

                                Missing Values  % of Total Values   dtype
veterans_admin_questionnaire            207415               99.0  object
unemployment_reason                     202979               96.9  object
education_institute                     196197               93.7  object
old_residence_state                     193889               92.5  object
old_residence_reg                       193148               92.2  object
migration_prev_sunbelt                  193148               92.2  object
is_labor_union                          189420               90.4  object
under_18_family                         151654               72.4  object
migration_code_change_in_reg            106284               50.7  object
residence_1_year_ago                    106284               50.7  object
migration_code_change_in_msa            106284               50.7  object
migration_code_move_within_reg          106284               50.7  object
occupation_code_main                    105694               50.5  object
class                                   105245               50.2  object
country_of_birth_father                   7181                3.4  object
country_of_birth_mother                   6516                3.1  object
country_of_birth_own                      3667                1.8  object

In [12]:
print(train_df.duplicated().sum())
train_df.drop_duplicates(inplace=True)

3573

In [13]:
columns_drop=missing_values_table_df[missing_values_table_df['% of Total Values']>70].index.tolist()

In [14]:
train_df.drop(columns_drop,axis=1,inplace=True)
test_df.drop(columns_drop,axis=1,inplace=True)

In [15]:
missing_values_test_df = missing_values_table(test_df)
missing_values_test_df

Your selected dataframe has 33 columns.
There are 9 columns that have missing values.

                                Missing Values  % of Total Values   dtype
migration_code_change_in_msa             45597               50.8  object
migration_code_move_within_reg           45597               50.8  object
migration_code_change_in_reg             45597               50.8  object
residence_1_year_ago                     45597               50.8  object
occupation_code_main                     45273               50.4  object
class                                    45079               50.2  object
country_of_birth_father                   2961                3.3  object
country_of_birth_mother                   2675                3.0  object
country_of_birth_own                      1490                1.7  object

In [16]:
missing_values_train_df = missing_values_table(train_df)
missing_values_train_df

Your selected dataframe has 34 columns.
There are 9 columns that have missing values.

                                Missing Values  % of Total Values   dtype
migration_code_change_in_msa            104302               50.7  object
migration_code_move_within_reg          104302               50.7  object
migration_code_change_in_reg            104302               50.7  object
residence_1_year_ago                    104302               50.7  object
occupation_code_main                    102139               49.6  object
class                                   101691               49.4  object
country_of_birth_father                   7164                3.5  object
country_of_birth_mother                   6500                3.2  object
country_of_birth_own                      3663                1.8  object

In [17]:
categorical_columns=train_df.select_dtypes(include='O').T.index.tolist()
numerical_columns=train_df.select_dtypes(exclude='O').T.index.tolist()
train_df[categorical_columns]

,gender,education,class,marital_status,race,is_hispanic,employment_commitment,industry_code_main,occupation_code_main,household_stat,...,tax_status,citizenship,country_of_birth_own,country_of_birth_father,country_of_birth_mother,migration_code_change_in_msa,migration_code_move_within_reg,migration_code_change_in_reg,residence_1_year_ago,income_above_limit
0,Female,High school graduate,NaN,Widowed,White,All other,Not in labor force,Not in universe or children,NaN,Householder,...,Head of household,Native,US,US,US,NaN,NaN,NaN,NaN,Below limit
1,Female,High school graduate,NaN,Widowed,White,All other,Children or Armed Forces,Not in universe or children,NaN,Nonfamily householder,...,Single,Native,US,US,US,unchanged,unchanged,unchanged,Same,Below limit
2,Male,12th grade no diploma,Federal government,Never married,Black,All other,Children or Armed Forces,Hospital services,Adm support including clerical,Child 18+ never marr Not in a subfamily,...,Single,Native,US,US,US,unchanged,unchanged,unchanged,Same,Below limit
3,Female,Children,NaN,Never married,Asian or Pacific Islander,All other,Children or Armed Forces,Not in universe or children,NaN,Child <18 never marr not in subfamily,...,Nonfiler,Native,US,India,India,unchanged,unchanged,unchanged,Same,Below limit
4,Male,High school graduate,NaN,Married-civilian spouse present,White,All other,Not in labor force,Not in universe or children,NaN,Spouse of householder,...,Joint both 65+,Native,US,US,US,NaN,NaN,NaN,NaN,Below limit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209494,Female,7th and 8th grade,NaN,Never married,White,All other,Not in labor force,Not in universe or children,NaN,Child <18 never marr not in subfamily,...,Nonfiler,Native,US,US,US,NaN,NaN,NaN,NaN,Below limit
209495,Male,Bachelors degree(BA AB BS),NaN,Married-civilian spouse present,White,All other,Not in labor force,Not in universe or children,NaN,Householder,...,Joint both 65+,Native,US,US,Canada,NaN,NaN,NaN,NaN,Below limit
209496,Female,Children,NaN,Never married,White,All other,Children or Armed Forces,Not in universe or children,NaN,Child <18 never marr not in subfamily,...,Nonfiler,Native,US,US,US,NaN,NaN,NaN,NaN,Below limit
209497,Female,Some college but no degree,Private,Married-civilian spouse present,White,All other,Children or Armed Forces,Wholesale trade,Handlers equip cleaners etc,Spouse of householder,...,Joint both under 65,Native,US,US,US,unchanged,unchanged,unchanged,Same,Below limit
209498,Male,11th grade,Local government,Never married,Black,All other,Children or Armed Forces,Public administration,Adm support including clerical,Child 18+ never marr Not in a subfamily,...,Nonfiler,Native,US,US,US,MSA to MSA,Same county,Same county,No,Below limit

In [18]:
for col in categorical_columns:
    print(train_df[col].value_counts())

 Female    107069
 Male       98857
Name: gender, dtype: int64
 High school graduate                      50597
 Children                                  46265
 Some college but no degree                29311
 Bachelors degree(BA AB BS)                20973
 7th and 8th grade                          8410
 10th grade                                 7879
 11th grade                                 7247
 Masters degree(MA MS MEng MEd MSW MBA)     6860
 9th grade                                  6508
 Associates degree-occup /vocational        5650
 Associates degree-academic program         4494
 5th or 6th grade                           3542
 12th grade no diploma                      2281
 1st 2nd 3rd or 4th grade                   1914
 Prof school degree (MD DDS DVM LLB JD)     1852
 Doctorate degree(PhD EdD)                  1318
 Less than 1st grade                         825
Name: education, dtype: int64
 Private                           75603
 Self-employed-not incorporated     8955
 Local government                   8092
 State government                   4479
 Self-employed-incorporated         3444
 Federal government                 3047
 Never worked                        448
 Without pay                         167
Name: class, dtype: int64
 Married-civilian spouse present    88382
 Never married                      87185
 Divorced                           13455
 Widowed                            11022
 Separated                           3596
 Married-spouse absent               1566
 Married-A F spouse present           720
Name: marital_status, dtype: int64
 White                          172407
 Black                           21164
 Asian or Pacific Islander        6037
 Other                            3914
 Amer Indian Aleut or Eskimo      2404
Name: race, dtype: int64
 All other                    176992
 Mexican-American               8423
 Mexican (Mexicano)             7582
 Central or South American      4170
 Puerto Rican                   3425
 Other Spanish                  2602
 Cuban                          1225
 NA                              873
 Chicano                         329
 Do not know                     305
Name: is_hispanic, dtype: int64
 Children or Armed Forces              126295
 Full-time schedules                    42777
 Not in labor force                     28121
 PT for non-econ reasons usually FT      3549
 Unemployed full-time                    2537
 PT for econ reasons usually PT          1243
 Unemployed part- time                    864
 PT for econ reasons usually FT           540
Name: employment_commitment, dtype: int64
 Not in universe or children            102139
 Retail trade                            18035
 Manufacturing-durable goods              9336
 Education                                8738
 Manufacturing-nondurable goods           7229
 Construction                             6414
 Finance insurance and real estate        6336
 Business and repair services             6021
 Medical except hospital                  4934
 Public administration                    4706
 Other professional services              4627
 Transportation                           4418
 Hospital services                        4088
 Wholesale trade                          3846
 Agriculture                              3155
 Personal services except private HH      3056
 Social services                          2675
 Entertainment                            1778
 Communications                           1260
 Utilities and sanitary services          1238
 Private household services               1026
 Mining                                    639
 Forestry and fisheries                    200
 Armed Forces                               32
Name: industry_code_main, dtype: int64
 Adm support including clerical           15350
 Professional specialty                   14543
 Executive admin and managerial           13107
 Other service                            12852
 Sales                                    12483
 Precision production craft & repair      11206
 Machine operators assmblrs & inspctrs     6648
 Handlers equip cleaners etc               4340
 Transportation and material moving        4244
 Farming forestry and fishing              3270
 Technicians and related support           3136
 Protective services                       1700
 Private household services                 876
 Armed Forces                                32
Name: occupation_code_main, dtype: int64
 Householder                                        56192
 Child <18 never marr not in subfamily              49259
 Spouse of householder                              43557
 Nonfamily householder                              23245
 Child 18+ never marr Not in a subfamily            12773
 Secondary individual                                6488
 Other Rel 18+ ever marr not in subfamily            2067
 Grandchild <18 never marr child of subfamily RP     1911
 Other Rel 18+ never marr not in subfamily           1781
 Grandchild <18 never marr not in subfamily          1098
 Child 18+ ever marr Not in a subfamily              1029
 Child under 18 of RP of unrel subfamily              745
 RP of unrelated subfamily                            722
 Other Rel 18+ spouse of subfamily RP                 697
 Child 18+ ever marr RP of subfamily                  691
 Other Rel 18+ ever marr RP of subfamily              679
 Other Rel <18 never marr child of subfamily RP       651
 Other Rel <18 never marr not in subfamily            622
 Child 18+ never marr RP of subfamily                 619
 Grandchild 18+ never marr not in subfamily           401
 In group quarters                                    184
 Child 18+ spouse of subfamily RP                     137
 Other Rel 18+ never marr RP of subfamily             109
 Child <18 never marr RP of subfamily                  80
 Spouse of RP of unrelated subfamily                   58
 Grandchild 18+ ever marr not in subfamily             39
 Child <18 ever marr not in subfamily                  37
 Grandchild 18+ spouse of subfamily RP                 11
 Child <18 ever marr RP of subfamily                   10
 Grandchild 18+ ever marr RP of subfamily               8
 Other Rel <18 ever marr RP of subfamily                6
 Grandchild 18+ never marr RP of subfamily              5
 Other Rel <18 ever marr not in subfamily               3
 Other Rel <18 never married RP of subfamily            3
 Other Rel <18 spouse of subfamily RP                   3
 Child <18 spouse of subfamily RP                       2
 Grandchild <18 ever marr not in subfamily              2
 Grandchild <18 never marr RP of subfamily              2
Name: household_stat, dtype: int64
 Householder                             79457
 Child under 18 never married            49355
 Spouse of householder                   43566
 Child 18 or older                       15250
 Other relative of householder           10103
 Nonrelative of householder               8024
 Group Quarters- Secondary individual      122
 Child under 18 ever married                49
Name: household_summary, dtype: int64
 Nonfiler                        75134
 Joint both under 65             70604
 Single                          39414
 Joint both 65+                   8787
 Head of household                7882
 Joint one under 65 & one 65+     4105
Name: tax_status, dtype: int64
Native                                          182121
 Foreign born- Not a citizen of U S              14107
 Foreign born- U S citizen by naturalization      6204
 Native- Born abroad of American Parent(s)        1923
 Native- Born in Puerto Rico or U S Outlying      1571
Name: citizenship, dtype: int64
US                               182118
 Mexico                            6073
 Puerto-Rico                       1458
 Philippines                        902
 Cuba                               888
 Germany                            857
 El-Salvador                        744
 Canada                             741
 Dominican-Republic                 737
 China                              508
 South Korea                        487
 England                            472
 Italy                              459
 India                              457
 Columbia                           455
 Poland                             385
 Vietnam                            384
 Guatemala                          370
 Jamaica                            352
 Japan                              350
 Peru                               277
 Ecuador                            277
 Nicaragua                          241
 Haiti                              225
 Taiwan                             193
 Portugal                           178
 Greece                             160
 Honduras                           159
 Iran                               152
 Ireland                            144
 France                             129
 Thailand                           125
 Hong Kong                          116
 Laos                               114
 Outlying-U S (Guam USVI etc)       113
 Cambodia                           103
 Trinadad&Tobago                     81
 Hungary                             80
 Scotland                            80
 Yugoslavia                          71
 Panama                              25
 Holand-Netherlands                  23
Name: country_of_birth_own, dtype: int64
US                               163532
 Mexico                           10442
 Puerto-Rico                       2765
 Italy                             2356
 Canada                            1395
 Dominican-Republic                1388
 Germany                           1386
 Poland                            1261
 Philippines                       1212
 Cuba                              1203
 El-Salvador                       1058
 China                              877
 England                            828
 India                              645
 Columbia                           637
 Ireland                            558
 South Korea                        551
 Jamaica                            492
 Guatemala                          479
 Vietnam                            450
 Japan                              416
 Ecuador                            392
 Greece                             392
 Portugal                           388
 Haiti                              355
 Peru                               349
 Nicaragua                          341
 Hungary                            333
 Scotland                           249
 Iran                               230
 Yugoslavia                         222
 Honduras                           217
 Cambodia                           212
 Taiwan                             191
 France                             188
 Outlying-U S (Guam USVI etc)       166
 Laos                               165
 Trinadad&Tobago                    131
 Thailand                           116
 Hong Kong                          113
 Holand-Netherlands                  52
 Panama                              29
Name: country_of_birth_father, dtype: int64
US                               164798
 Mexico                           10253
 Puerto-Rico                       2546
 Italy                             1972
 Canada                            1504
 Germany                           1396
 Philippines                       1299
 Cuba                              1205
 Dominican-Republic                1183
 El-Salvador                       1180
 Poland                            1164
 England                            927
 China                              800
 Ireland                            667
 India                              640
 Columbia                           627
 South Korea                        623
 Japan                              506
 Jamaica                            491
 Vietnam                            478
 Guatemala                          477
 Ecuador                            398
 Peru                               378
 Haiti                              363
 Portugal                           355
 Nicaragua                          338
 Hungary                            328
 Greece                             298
 Scotland                           257
 Honduras                           240
 Taiwan                             222
 France                             213
 Iran                               196
 Yugoslavia                         192
 Cambodia                           177
 Laos                               154
 Outlying-U S (Guam USVI etc)       152
 Thailand                           134
 Hong Kong                          110
 Trinadad&Tobago                    104
 Holand-Netherlands                  51
 Panama                              30
Name: country_of_birth_mother, dtype: int64
unchanged            85320
 MSA to MSA          11061
 NonMSA to nonMSA     2894
 MSA to nonMSA         777
 NonMSA to MSA         640
 Not identifiable      436
 Abroad to MSA         417
 Abroad to nonMSA       79
Name: migration_code_change_in_msa, dtype: int64
unchanged                        85320
 Same county                     10159
 Different county same state      2941
 Different state in South         1002
 Different state in West           733
 Different state in Midwest        560
 Abroad                            498
 Different state in Northeast      411
Name: migration_code_move_within_reg, dtype: int64
unchanged                          85320
 Same county                       10159
 Different county same state        2941
 Different region                   1206
 Different state same division      1015
 Abroad                              498
 Different division same region      485
Name: migration_code_change_in_reg, dtype: int64
Same    85320
 No     16304
Name: residence_1_year_ago, dtype: int64
Below limit    192928
Above limit     12998
Name: income_above_limit, dtype: int64

In [26]:
from scipy.stats import chi2_contingency
x=len(categorical_columns)
factors_paired = [(i,j) for i in categorical_columns for j in categorical_columns]
chi2, p_values =[], []
for f in factors_paired:
    if f[0] != f[1]:
        chitest = chi2_contingency(pd.crosstab(train_df[f[0]], train_df[f[1]]))
        chi2.append(chitest[0])
        p_values.append(chitest[1])
        if chitest[1] < 0.05 and chitest[1]!=0:
            print(f[0],f[1],chitest[1],chitest[2])
    else:
        chi2.append(0)
        p_values.append(0)

p1 = np.array(p_values).reshape(x,x)
p1 = pd.DataFrame(p1, index=categorical_columns, columns=categorical_columns)
p1

gender education 2.9832975262429914e-279 16
gender race 9.748425448159573e-20 4
gender is_hispanic 1.9536654605811147e-05 9
gender citizenship 1.9967231522935473e-07 4
gender country_of_birth_own 1.515846548893867e-20 41
gender country_of_birth_father 3.9816622163747854e-19 41
gender country_of_birth_mother 1.4965384682440754e-14 41
gender migration_code_change_in_msa 0.04886723176705639 7
gender migration_code_move_within_reg 0.011041994604219419 7
gender migration_code_change_in_reg 0.002605406738353371 6
gender residence_1_year_ago 0.0031323231822461867 1
education gender 2.9832975262429914e-279 16
education migration_code_change_in_msa 9.879813291394413e-76 112
education migration_code_move_within_reg 4.677417124653236e-87 112
education migration_code_change_in_reg 6.94267941655084e-79 96
education residence_1_year_ago 5.888273415748079e-31 16
class race 2.8646629536794344e-287 28
class is_hispanic 6.3997977118640116e-192 63
class citizenship 1.0271913350667025e-185 28
class country_of_birth_own 5.753329878390048e-208 287
class country_of_birth_father 6.692694879155288e-218 287
class country_of_birth_mother 3.054290022738662e-215 287
class migration_code_change_in_msa 5.262485319265956e-76 49
class migration_code_move_within_reg 6.408381765603451e-67 49
class migration_code_change_in_reg 1.5911935676548117e-68 42
class residence_1_year_ago 2.7598284349777666e-79 7
race gender 9.748425448159573e-20 4
race class 2.8646629536794344e-287 28
race employment_commitment 1.6340947578350836e-103 28
race migration_code_move_within_reg 7.559858892758478e-223 28
race migration_code_change_in_reg 3.2398171090476275e-208 24
race residence_1_year_ago 9.986738986264315e-72 4
race income_above_limit 2.494472152236953e-158 4
is_hispanic gender 1.9536654605811147e-05 9
is_hispanic class 6.3997977118640116e-192 63
is_hispanic employment_commitment 8.045910456405544e-172 63
is_hispanic migration_code_change_in_msa 1.3741505500360823e-278 63
is_hispanic migration_code_move_within_reg 6.098273875597246e-222 63
is_hispanic migration_code_change_in_reg 2.398311981673474e-219 54
is_hispanic residence_1_year_ago 2.776663078322124e-59 9
is_hispanic income_above_limit 4.918110308985526e-206 9
employment_commitment race 1.6340947578351763e-103 28
employment_commitment is_hispanic 8.045910456405544e-172 63
employment_commitment occupation_code_main 4.099619116724264e-307 91
employment_commitment citizenship 9.208188823008475e-216 28
employment_commitment country_of_birth_own 3.1381581853815633e-184 287
employment_commitment country_of_birth_mother 4.5929644084097264e-297 287
industry_code_main migration_code_change_in_msa 6.02436220910042e-123 161
industry_code_main migration_code_move_within_reg 2.9894297465952054e-91 161
industry_code_main migration_code_change_in_reg 7.820336435120538e-92 138
industry_code_main residence_1_year_ago 3.5356743377355406e-83 23
occupation_code_main employment_commitment 4.099619116724263e-307 91
occupation_code_main migration_code_change_in_msa 3.331904817187811e-55 91
occupation_code_main migration_code_move_within_reg 1.3915445857639268e-45 91
occupation_code_main migration_code_change_in_reg 1.6311092270015017e-45 78
occupation_code_main residence_1_year_ago 1.4099892781765236e-25 13
tax_status migration_code_change_in_msa 4.425841199037182e-279 35
tax_status migration_code_move_within_reg 1.4701090771621119e-288 35
tax_status migration_code_change_in_reg 3.5198735097794355e-293 30
tax_status residence_1_year_ago 9.559554577723086e-277 5
citizenship gender 1.9967231522935473e-07 4
citizenship class 1.0271913350667608e-185 28
citizenship employment_commitment 9.208188823008475e-216 28
citizenship residence_1_year_ago 1.772700640632592e-87 4
citizenship income_above_limit 8.370559609805958e-77 4
country_of_birth_own gender 1.515846548893867e-20 41
country_of_birth_own class 5.753329878390048e-208 287
country_of_birth_own employment_commitment 3.1381581853815633e-184 287
country_of_birth_own residence_1_year_ago 1.1544978035718593e-54 39
country_of_birth_own income_above_limit 4.813565643974285e-126 41
country_of_birth_father gender 3.9816622163748427e-19 41
country_of_birth_father class 6.69269487915605e-218 287
country_of_birth_father residence_1_year_ago 4.430866807023137e-59 39
country_of_birth_father income_above_limit 1.0148672331332358e-193 41
country_of_birth_mother gender 1.4965384682440754e-14 41
country_of_birth_mother class 3.054290022738662e-215 287
country_of_birth_mother employment_commitment 4.5929644084097264e-297 287
country_of_birth_mother residence_1_year_ago 2.011148461655649e-57 39
country_of_birth_mother income_above_limit 3.103423963387651e-200 41
migration_code_change_in_msa gender 0.04886723176705641 7
migration_code_change_in_msa education 9.879813291394413e-76 112
migration_code_change_in_msa class 5.262485319265956e-76 49
migration_code_change_in_msa is_hispanic 1.3741505500360823e-278 63
migration_code_change_in_msa industry_code_main 6.024362209100761e-123 161
migration_code_change_in_msa occupation_code_main 3.331904817187811e-55 91
migration_code_change_in_msa tax_status 4.425841199037182e-279 35
migration_code_change_in_msa income_above_limit 2.4959022885251607e-33 7
migration_code_move_within_reg gender 0.011041994604219419 7
migration_code_move_within_reg education 4.677417124653237e-87 112
migration_code_move_within_reg class 6.408381765603455e-67 49
migration_code_move_within_reg race 7.559858892758478e-223 28
migration_code_move_within_reg is_hispanic 6.098273875597246e-222 63
migration_code_move_within_reg industry_code_main 2.989429746595034e-91 161
migration_code_move_within_reg occupation_code_main 1.3915445857639268e-45 91
migration_code_move_within_reg tax_status 1.4701090771619442e-288 35
migration_code_move_within_reg income_above_limit 5.5933281972070425e-28 7
migration_code_change_in_reg gender 0.002605406738353371 6
migration_code_change_in_reg education 6.942679416551236e-79 96
migration_code_change_in_reg class 1.5911935676548117e-68 42
migration_code_change_in_reg race 3.2398171090476275e-208 24
migration_code_change_in_reg is_hispanic 2.3983119816732017e-219 54
migration_code_change_in_reg industry_code_main 7.820336435120538e-92 138
migration_code_change_in_reg occupation_code_main 1.6311092270015017e-45 78
migration_code_change_in_reg tax_status 3.5198735097794355e-293 30
migration_code_change_in_reg income_above_limit 3.86447118204361e-28 6
residence_1_year_ago gender 0.0031323231822461867 1
residence_1_year_ago education 5.8882734157479935e-31 16
residence_1_year_ago class 2.7598284349777666e-79 7
residence_1_year_ago race 9.986738986264315e-72 4
residence_1_year_ago is_hispanic 2.776663078322203e-59 9
residence_1_year_ago industry_code_main 3.5356743377355406e-83 23
residence_1_year_ago occupation_code_main 1.409989278176504e-25 13
residence_1_year_ago tax_status 9.559554577723086e-277 5
residence_1_year_ago citizenship 1.772700640632592e-87 4
residence_1_year_ago country_of_birth_own 1.1544978035718593e-54 39
residence_1_year_ago country_of_birth_father 4.430866807022882e-59 39
residence_1_year_ago country_of_birth_mother 2.011148461655764e-57 39
residence_1_year_ago income_above_limit 9.19558673470539e-28 1
income_above_limit race 2.494472152236953e-158 4
income_above_limit is_hispanic 4.9181103089852464e-206 9
income_above_limit citizenship 8.370559609805958e-77 4
income_above_limit country_of_birth_own 4.8135656439748327e-126 41
income_above_limit country_of_birth_father 1.0148672331332358e-193 41
income_above_limit country_of_birth_mother 3.1034239633869453e-200 41
income_above_limit migration_code_change_in_msa 2.4959022885251607e-33 7
income_above_limit migration_code_move_within_reg 5.593328197207122e-28 7
income_above_limit migration_code_change_in_reg 3.86447118204361e-28 6
income_above_limit residence_1_year_ago 9.19558673470539e-28 1

,gender,education,class,marital_status,race,is_hispanic,employment_commitment,industry_code_main,occupation_code_main,household_stat,...,tax_status,citizenship,country_of_birth_own,country_of_birth_father,country_of_birth_mother,migration_code_change_in_msa,migration_code_move_within_reg,migration_code_change_in_reg,residence_1_year_ago,income_above_limit
gender,0.000000e+00,2.983298e-279,0.000000e+00,0.0,9.748425e-20,1.953665e-05,0.000000e+00,0.000000e+00,0.000000e+00,0.0,...,0.000000e+00,1.996723e-07,1.515847e-20,3.981662e-19,1.496538e-14,4.886723e-02,1.104199e-02,2.605407e-03,3.132323e-03,0.000000e+00
education,2.983298e-279,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.879813e-76,4.677417e-87,6.942679e-79,5.888273e-31,0.000000e+00
class,0.000000e+00,0.000000e+00,0.000000e+00,0.0,2.864663e-287,6.399798e-192,0.000000e+00,0.000000e+00,0.000000e+00,0.0,...,0.000000e+00,1.027191e-185,5.753330e-208,6.692695e-218,3.054290e-215,5.262485e-76,6.408382e-67,1.591194e-68,2.759828e-79,0.000000e+00
marital_status,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
race,9.748425e-20,0.000000e+00,2.864663e-287,0.0,0.000000e+00,0.000000e+00,1.634095e-103,0.000000e+00,0.000000e+00,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.559859e-223,3.239817e-208,9.986739e-72,2.494472e-158
is_hispanic,1.953665e-05,0.000000e+00,6.399798e-192,0.0,0.000000e+00,0.000000e+00,8.045910e-172,0.000000e+00,0.000000e+00,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.374151e-278,6.098274e-222,2.398312e-219,2.776663e-59,4.918110e-206
employment_commitment,0.000000e+00,0.000000e+00,0.000000e+00,0.0,1.634095e-103,8.045910e-172,0.000000e+00,0.000000e+00,4.099619e-307,0.0,...,0.000000e+00,9.208189e-216,3.138158e-184,0.000000e+00,4.592964e-297,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00
industry_code_main,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.024362e-123,2.989430e-91,7.820336e-92,3.535674e-83,0.000000e+00
occupation_code_main,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,4.099619e-307,0.000000e+00,0.000000e+00,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.331905e-55,1.391545e-45,1.631109e-45,1.409989e-25,0.000000e+00
household_stat,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
household_summary,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
tax_status,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.425841e-279,1.470109e-288,3.519874e-293,9.559555e-277,0.000000e+00
citizenship,1.996723e-07,0.000000e+00,1.027191e-185,0.0,0.000000e+00,0.000000e+00,9.208189e-216,0.000000e+00,0.000000e+00,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.772701e-87,8.370560e-77
country_of_birth_own,1.515847e-20,0.000000e+00,5.753330e-208,0.0,0.000000e+00,0.000000e+00,3.138158e-184,0.000000e+00,0.000000e+00,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.154498e-54,4.813566e-126
country_of_birth_father,3.981662e-19,0.000000e+00,6.692695e-218,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.430867e-59,1.014867e-193
country_of_birth_mother,1.496538e-14,0.000000e+00,3.054290e-215,0.0,0.000000e+00,0.000000e+00,4.592964e-297,0.000000e+00,0.000000e+00,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.011148e-57,3.103424e-200
migration_code_change_in_msa,4.886723e-02,9.879813e-76,5.262485e-76,0.0,0.000000e+00,1.374151e-278,1.000000e+00,6.024362e-123,3.331905e-55,0.0,...,4.425841e-279,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.495902e-33
migration_code_move_within_reg,1.104199e-02,4.677417e-87,6.408382e-67,0.0,7.559859e-223,6.098274e-222,1.000000e+00,2.989430e-91,1.391545e-45,0.0,...,1.470109e-288,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.593328e-28
migration_code_change_in_reg,2.605407e-03,6.942679e-79,1.591194e-68,0.0,3.239817e-208,2.398312e-219,1.000000e+00,7.820336e-92,1.631109e-45,0.0,...,3.519874e-293,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.864471e-28
residence_1_year_ago,3.132323e-03,5.888273e-31,2.759828e-79,0.0,9.986739e-72,2.776663e-59,1.000000e+00,3.535674e-83,1.409989e-25,0.0,...,9.559555e-277,1.772701e-87,1.154498e-54,4.430867e-59,2.011148e-57,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.195587e-28
income_above_limit,0.000000e+00,0.000000e+00,0.000000e+00,0.0,2.494472e-158,4.918110e-206,0.000000e+00,0.000000e+00,0.000000e+00,0.0,...,0.000000e+00,8.370560e-77,4.813566e-126,1.014867e-193,3.103424e-200,2.495902e-33,5.593328e-28,3.864471e-28,9.195587e-28,0.000000e+00

In [ ]:
for col in missing_values_train_df.index.tolist():
       train_df[col] = train_df[col].fillna(train_df[col].mode()[0])
       test_df[col] = test_df[col].fillna(test_df[col].mode()[0])

In [ ]:
train_df.plot(kind="density",subplots=True,sharex=False,layout=(6,3),figsize=(18,15))
plt.show()

In [ ]:
train_df.plot(kind="box",subplots=True,sharex=False,layout=(6,3),figsize=(18,27))
plt.show()

In [ ]:
X= train_df.drop("income_above_limit",axis=1)
Y = train_df["income_above_limit"]
Q1=X.quantile(0.25)
Q3 =X.quantile(0.75)
IQR= Q3-Q1

train_df_iqr=train_df[~((train_df<Q1-1.5*IQR)|(train_df>Q3+1.5*IQR)).any(axis=1)]
train_df_iqr.plot(kind="box",subplots=True,sharex=False,layout=(6,3),figsize=(18,27))
plt.show()

In [ ]:
train_df_iqr.shape

In [ ]:
plt.figure(figsize=(18,15))
sns.heatmap(train_df_iqr.corr(),annot=True)
plt.show()

In [ ]:
from sklearn.model_selection import train_test_split

X= train_df_iqr.drop("income_above_limit",axis=1)
y = train_df_iqr["income_above_limit"].map({'Above limit':1,'Below limit':0})
y

In [ ]:
from collections import Counter

X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.33,random_state=1)
def calc_class_percentage(y_train):
    counter = Counter(y_train)
    print("=============================")
    for k,v in counter.items():
        per = 100*v/len(y_train)
        print(f"Class= {k}, n={v} ({per:.2f}%)")

In [ ]:
from imblearn.over_sampling import SMOTE

calc_class_percentage(y_train)
smote = SMOTE()
X_train,y_train=smote.fit_resample(X_train,y_train)
calc_class_percentage(y_train)